<br><br>
<div class="col-5 mt-5 m-auto d-flex">

  <input type="text" [(ngModel)]="name" placeholder="Search Here" class="form-control">
  <button class="btn btn-danger" (click)="btnClick()">SEARCH</button>
</div>
<br><br>
<div *ngIf="movies.length === 0" class="col-12 m-auto badge badge-danger">

           <h5>Not Searched</h5>

</div>


<div *ngIf="movies.length !== 0" class="col-12 m-auto badge badge-success">

  <h5>Searched Result</h5>

</div>


<div class="row mt-5">
     <div *ngFor="let movie of movies" class="col-4 m-auto">
      <div class="card mb-5 shadow-lg" style="width: 18rem;height: 450px;">
        <img class="card-img-top" style="height:250px" [src]="movie.Poster" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ movie.Title }}</h5>
          <p class="card-text">{{movie.Type}} {{movie.Year}}</p>
          <a [routerLink]="['/item',movie.imdbID]" class="btn btn-primary">Buy</a>
        </div>
      </div>
     </div>

</div>
